//- player-info.pug
include ../partials/header.pug
include ../partials/menu.pug

div.container
  br
  div.row
    div.col-4
      div.card
        //- TODO: Modify the pug code below to conditionally set the image_src
        - let image_src = '../../resources/img/helmet.jpg'

        img.card-img-top#player_img(src= image_src, alt="Football Player")
        div.card-body.mx-auto
          form.form(action="/player_info/select_player", method="get")
            select.custom-select(name="player_choice", onchange="this.form.submit()")
              option(selected) Select Player
              //- TODO: Populate the select with player options. Set the value to the player's id and display the player's name.
              for curr in players
                option(value= curr.player_id)= curr.name

    div.col-8
      div.table-responsive
        table.table
          //- TODO: Set the player's information. On select, fill in the player's information in each of the field below. You will need to calculate the average rushing, receiving, and passing yards.
          tr
            th Year
            td = year
          tr
            th Major
            td = major
          tr
            th Games Played
            td = gamesPlayed
          tr
            td Passing Yards:
            td = passingYards
          tr
            td Rushing Yards:
            td = rushingYards
          tr
            td Receiving Yards:
            td = receivingYards

include ../partials/footer.pug

